#### Q. Write a program to read 2 numbers from the keyboard and print sum.

In [1]:
x = int(input("enter the value"))
y = int(input("enter the value"))

a = x+y
print("the sum :" , a)

enter the value 10
enter the value 20

the sum : 30

#### Q. Write a program to read Employee data from the keyboard and print that data.

In [27]:
eno = int(input("enter the value : "))
ename = input("enter the name : ")
esal = float(input("enter employee sal:"))
estatus = bool(input("employee working or not?:"))

print("Employee No.:",eno)
print("Employee Name:",ename)
print("Employee salary:",esal)
print("Employee status:",estatus)

enter the value :  31
enter the name :  anusha
enter employee sal: 80000
employee working or not?: false

Employee No.: 31
Employee Name: anusha
Employee salary: 80000.0
Employee status: True

#### Q. Write a program to read 3 float numbers from the keyboard with , seperator and print their sum.

In [8]:
a,b,c = [float(x) for x in input("Enter 3 numbers:").split(',')]
print("Addition of given 3 numbers:",a+b+c)

Enter 3 numbers: 11.5,8.9,10.9

Addition of given 3 numbers: 31.299999999999997

In [10]:
list = eval(input("Enter the list of values:"))
print(type(list))

Enter the list of values: 1,2,3,4,5,6

<class 'tuple'>

In [11]:
a,b,c = 10,20,30
print("a value is %i" %a)
print("b value is %i and c value is %i" %(b,c))

a value is 10
b value is 20 and c value is 30

In [16]:
print("Employee name is",input("name"),"age is",int(input(age)),"his salary is:",float(input(salary)))

name anusha

NameError: name 'age' is not defined

# if statement

In [18]:
name=input("enter name:")
if name=="robert":
    print("hi",name,"good morning..")
print("how are you",name,"?")

enter name: anusha

how are you anusha ?

## if-else

In [20]:
name=input("enter name:")
if name=="robert":
    print("hi",name,"good morning..")
else:
    print("Invalid credentials...")

enter name: robert

hi robert good morning..

## if-elif-else

In [21]:
name=input("enter name:")
if name=="robert":
    print("hi",name,"good morning..")
elif name=="pawan":
    print("hi",name,"good morning..")
elif name=="kiran":
    print("hi",name,"good morning..")
else:
    print("you are not authorized person to enter into this server room")

enter name: anusha

you are not authorized person to enter into this server room

In [26]:
number=int(input("enter num:"))
if number==4:
    print("hi",number,"is even")
elif number==5:
    print("hi",number,"is odd")
elif number==0:
    print("hi",number,"is whole number")
else:
    print("number is not defined")

enter num: 31

number is not defined

### Ex: Write a program to find biggest of given 2 numbers from the commad prompt?

In [29]:
n1 = int(input("enter num1 : "))
n2 = int(input("enter num2 : "))
if n1>n2:
    print(n1, "is greater than", n2)
else:
    print(n2, "is greater than", n1)

enter num1 :  25
enter num2 :  45

45 is greater than 25

### Ex: Write a program to find biggest of given 3 numbers from the commad prompt?

In [36]:
n1 = int(input("enter num1 : "))
n2 = int(input("enter num2 : "))
n3 = int(input("enter num3 : "))
if n1>n2 and n1>n3:
    print(n1, "is highest number")
elif n2>n3:
    print(n2, "is highest number")
else:
    print(n3, "is highest number")

enter num1 :  10
enter num2 :  11
enter num3 :  12

12 is highest number

### Q. Write a program to find smallest of given 2 numbers?

In [38]:
n1 = int(input("enter num1 : "))
n2 = int(input("enter num2 : "))
if n1<n2:
    print("smaller num is ", n1)
else:
    print("smaller num is ", n2)

enter num1 :  3
enter num2 :  2

smaller num is  2

#### Q. Write a program to find smallest of given 3 numbers?

In [41]:
n1 = int(input("enter num1 : "))
n2 = int(input("enter num2 : "))
n3 = int(input("enter num3 : "))
if n1<n2 and n1<n3:
    print(n1, "is smaller number")
elif n2<n3:
    print(n2, "is smaller number")
else:
    print(n3, "is smaller number")

enter num1 :  5
enter num2 :  6
enter num3 :  4

4 is smaller number

#### Q. Write a program to check whether the given number is even or odd?

In [46]:
n1 = int(input("enter num1 : "))
if n1%2 == 0:
    print(n1,"is even")
else:
    print(n1,"is odd")

enter num1 :  4

4 is even

#### Ex: Write a program to check whether the given number is in between 1 and 10?

In [48]:
n = int(input("Enter the number:"))
if n>=1 and n<=10:
    print("The number %i is in between 1 to 10" %n)
else:
    print("The number %i is not in between 1 to 10" %n)

Enter the number: 15

The number 15 is not in between 1 to 10

In [50]:
n = int(input("Enter the number:"))
if n==0:
    print("ZERO")
elif n==1:
    print("ONE")
elif n==2:
    print("TWO")
else:
    print("please enter the digits from 0 to 2")

Enter the number: 2

TWO