In [1]:
import os
os.getcwd()

'C:\\Users\\L13 Yoga'

In [1]:
2+3

5

In [3]:
"Hello World"

'Hello World'

print("hi")

In [4]:
print("Hi")

Hi

In [5]:
print("Hello World")

Hello World

In [ ]:
2.Data Types and variables

In [8]:
# How to create variables and check the data type of variable
name ='Anu'
print(name)

Anu

In [9]:
a=10
b=20
c=30
print(c)

30

In [10]:
#static type and dynamic type
a = 10
type(a)

int

In [11]:
b = 'abc'
type(b)

str

In [ ]:
#python can support multiple data types like str,int,float,complex
#int
a = 10
type(a)

In [ ]:
#str
name = 'Anu'
type(name)

In [ ]:
#float
b = 10.5
type(b)

In [ ]:
#complex
c= 2+6j
type(c)

In [ ]:
#list
d=[1,2,3,4]
type(d)

In [ ]:
#tuple
e=(1,2,3,4)
type(e)

In [ ]:
#set
f={1,2,3,4,5}
type(f)

In [ ]:
#dict
g={'a':{1,2,3},'b':{4,5,6}}
type(g)

In [ ]:
# input()
email = input("enter your email address")
print(email)

In [ ]:
email = input("enter your email address")
password = input("enter your email password")
print(email)

In [ ]:
# type casting
a = 20
type(a)

In [ ]:
a = '20'
type(a)

In [ ]:
a = int('20')
type(a)

In [ ]:
a = str(20)
type(a)

In [ ]:
a = 20.5
int(a)

In [ ]:
a = 10
float(a)

In [ ]:
a = 10
str(a)

### operator 
1. Arithmetic Operator
+ addition 5+3 = 8
- subsraction 5-3 = 2
* multiplication 5*3 = 15
/ division 15/5 = 3
// floor division 5//3
% Modulus (Reminder) 5%3
** Exponentiation 5**3 125

In [1]:
5+3
5-3
5*3
5/3
5//3
5%3
5**3

125

### 2. Comparison (Relational) Operator
 == Equal to 5 == 3 false
 != not equal to 5 != 3 true
 > greater than 5 > 3 true
 < less than 5 < 3 false
 >= greater than or equal 5 >= 3 true
 <= less than or equal to 5 <= 3 false
 % Modulus (Reminder) 5%3

In [1]:
5==3

False

In [2]:
5>3

True

In [3]:
5!=3

True

In [4]:
5<3

False

In [5]:
5>=3

True

In [6]:
5<=3

False

### 3 . Logical Operator
combine conditional statements and returns boolen values
operator discription Example Output
and Logical AND True and False False
or Logical OR True or False True
not Logical NOT not True False

In [7]:
True and False

False

In [8]:
True or False

True

### 4. Assignment Operator
+= add and assign x += 3 x = x+3
-= substract and assign x -= 3 x = x-3
*= multiply and assign x *= 3 x = x*3
/= divide and assign x /= 3 x = x/3

In [3]:
x=2
x+=3
print(x)

5

### 5. membership operators
in checks if a value exist 'a' in 'apple' true
not in check if a value does not exist 'x' not in 'apple' True

In [13]:
'x' in 'xerox'

True

In [14]:
'a' in 'xerox'

False

In [15]:
'q' not in 'xerox'

True

### Python condition and if-else statements
if statement
if else statement
if elif else statement
nested if statement

In [17]:
# if statement
# take user input and check if user input marks are greater than 33 then mark as pass
num = input("Enter your marks")
print(num)
type(num)

Enter your marks 25

25

str

In [18]:
num = int(input("Enter your marks"))
print(num)
type(num)

Enter your marks 25

25

int

In [22]:
num = int(input("Enter your marks"))
if num>33:
   print("you are pass")

Enter your marks 40

you are pass

In [24]:
num = int(input("Enter your marks"))
if num>33:
   print("you are pass")
else:
    print("you are not pass")

Enter your marks 20

you are not pass

In [33]:
# if elif else
# if marks is >80 grade A, >60 grade B, >40 grade C marks <33 fail

marks = int(input("enter your marks"))
if marks>80:
    print("garde A")
elif marks>60:
    print("grade B")
elif marks>40:
    print("grade C")
else:
    print("fail")

enter your marks 39

fail

In [20]:
num1=100
num2=200
num3=6
if(5>=num3):
    if(num1>100 or num2>150):
        print("1")
elif(num1>=100 and num2>150):
    print("2")
else:
    print("3")

2

In [37]:
# nested if
# if num=0 print 0, num<0 print negative, if num>0 p check if num is even or odd
num = int(input("Enter your marks"))
if num>0:
   print("num is positive")
   if num%2==0:
      print("even")
   else:
      print("odd")
elif num==0:
    print("num zero")
else:
    print("num is negative")

Enter your marks 0

num zero

### for loop
A for loop is used for iterating over a sequence (that is either a list,a tuple,a dictionary, a set or a string)
This is less like the for keyword in other programming langauage, and work more like an iterator method as found in other abject oriented programming language
With the loop we can execute a set of statements, once for each item in a list,tuple

In [38]:
# looping through list
fruits = ["apple","banana","orange"]
for i in fruits:
    print(i)

apple
banana
orange

In [39]:
fruits = ["apple","banana","orange"]
for i in fruits:
    print('eat',i)

eat apple
eat banana
eat orange

In [40]:
# looping through strings
x = 'hello world'
for i in x:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [42]:
# break statement
# iterate till 5
l = [1,2,3,5,7,8,9]
for i in l:
    if i==7:
        break
    print(i)

1
2
3
5

In [47]:
# the continue statement
## print all letters except l
x = 'hello world'
for i in x:
    if i=='l':
     continue
    print(i)

h
e
o

w
o
r
d

In [48]:
# the range function()
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [50]:
for i in range(0,7,3):
    print(i)

0
3
6

In [51]:
for i in range(7):
    print('hi')

hi
hi
hi
hi
hi
hi
hi

In [52]:
# nested loop
x = [1,3,5,7,9]
y = [2,4,6,8,10]
for i in x:
    for j in y:
        print(i , j)

1 2
1 4
1 6
1 8
1 10
3 2
3 4
3 6
3 8
3 10
5 2
5 4
5 6
5 8
5 10
7 2
7 4
7 6
7 8
7 10
9 2
9 4
9 6
9 8
9 10

# WHile loop
pyhton has 2 premilative loops commands:
for loops
while loops
with the while loops we can execute a set of statements as long as the condition is true

In [56]:
# print i as long as i is less than 6
i=1
while i<7:
    print(i)
    i=i+1

1
2
3
4
5
6

In [58]:
for i in range(7):
  print(i)

0
1
2
3
4
5
6

In [28]:
# break
x=[1,2,3,4,5,6,7,8,9] #iterable
for iterator in x:   #__next__()  #stopIteration
   # if iterator==7:
   #  break 
   print(iterator)

1
2
3
4
5
6
7
8
9

In [35]:
a = 2   #PVM
type(a)

int

In [37]:
a = 2
b= 3
print(a+b)

5

In [39]:
a = 'pav'
b = 'an'
a+b

'pavan'

In [ ]:
int a =2   #JVM

In [31]:

school = ['pavan','kumar','ram']
school.append('abc')
school.append('cbd')

In [34]:
l1 = [1,2,3]
l2 = [4,5,6]
l1.extend(l2)
#[1,2,3,4,5,6]
print(l1)

[1, 2, 3, 4, 5, 6]

In [ ]:
append and extend

In [32]:
print(school)

['pavan', 'kumar', 'ram', 'abc', 'cbd']

In [ ]:
[1,2,3,4,5]

In [78]:
i=0
while i<6:
    if i==3:
        break 
    print(i)
    i=i+1

0
1
2

In [ ]:
# continue
i=0
while i<6:
    i=i+1
    if i==3:
        continue
    print(i)

### 9. list
features of list
ordered : elements have defined order and can be accessed by thier index
mutable: elaments can be changed,removed and added
heterogenous : can store elements of different type(int,str,float)
dynamic: list are grow or shrink as data is added or removed

In [11]:
l=[1,2,3,4,5]
l[3]

4

In [ ]:
#create list
a = [1,2,3,'apple']
type(a)

In [ ]:
# ordered - index
a = [1,2,3,5,7,'apple']
#index start - 0
# index end - -1
a[3]
a

In [12]:
# mutable
a = [1,3,4,5,7]
a[0] = 2
a

[2, 3, 4, 5, 7]

In [ ]:
list methods

In [ ]:
# append - adds on elements to the end of a list
a = [1,3,4,5,6,7]
a.append(9)
a

In [13]:
#insert - insert an element at specific indem
a = [1,3,5,6,7]
a.insert(3,9)
a

[1, 3, 5, 9, 6, 7]

In [ ]:
# remove - remove the first occurance of a value
a.remove(6)
a

In [ ]:
# pop - removes on element on index and returns it

In [ ]:
# sort() sorts the list of ascending order

In [ ]:
# reverse() reverse the list

In [ ]:
# extend() Adds elements from another list

In [ ]:
# index() Returns the index of the first occurance of a value

In [ ]:
# count() count occurance of a value

11. listing coding questions
1. write a python program to find a largest number

In [2]:
l=[1,33,77,56,99]
#inbuilt method
max(l)

99

In [3]:
#without inbuilt method
l=[1,33,77,56,99]
largest=0
for i in l:
    if i>largest:
        largest=i
print(largest)

99

2. python program for finding lowest number

In [4]:
l=[1,33,77,56,99]
#inbuilt method
min(l)

1

In [5]:
#without inbuilt method
l=[1,33,77,56,99]
lowest=99
for i in l:
    if i<lowest:
        lowest=i
print(lowest)

1

3. Python program to interchange first and last number in a list

In [8]:
l=[1,3,7,77,99]
l[0],l[-1] = l[-1],l[0]
l

[99, 3, 7, 77, 1]

4. Python program to swap two numbers in a list

In [9]:
l=[1,3,7,77,99]
l[2],l[3] = l[3],l[2]
l

[1, 3, 77, 7, 99]

### 5. reverse a list using python

In [14]:
l=[1,3,7,77,99]
l[0],l[1],l[2],l[3],l[4]=l[4],l[3],l[2],l[1],l[0]
l

[99, 77, 7, 3, 1]

In [1]:
## in built method
l=[1,3,7,77,99]
l.reverse()
l

[99, 77, 7, 3, 1]

In [6]:
### without inbuilt method
l=[1,3,7,77,99]
a=[]
for i in range(len(1)-1,-1,-1):
    a.append(l[i])
l

TypeError: object of type 'int' has no len()

### 6. Find sum of list in python

In [7]:
l = [1,2,3,4,5,6,7]
sum(l)

28

In [9]:
sm = 0
for i in l:
    sm=sm+i
sm

28

#### 7. Find sum and avg of list in python

In [12]:
l = [1,2,3,4,5,6,7]
summation = sum(l)
summation
avegare=sum(l)/len(l)
average(l)

NameError: name 'average' is not defined

### 8. Python program to print even number

In [14]:
l = [1,2,3,4,5,6,7,8,9]
for i in l:
    if i%2==0:
     print(i)

2
4
6
8

### 9.Python program to print odd number

In [15]:
l = [1,2,3,4,5,6,7,8,9]
for i in l:
    if i%2!=0:
     print(i)

1
3
5
7
9

In [16]:
l = [1,2,3,4,5,6,7,8,9]
for i in l:
    if i%2==0:
      print('even')
    else:
        print('odd')

odd
even
odd
even
odd
even
odd
even
odd

### 10. remove duplicate from given list

In [17]:
l =[1,1,2,3,3,4,5,6,7,7,8]
a = []
for i in l:
    if i not in a:
        a.append(i)
a

[1, 2, 3, 4, 5, 6, 7, 8]

##### List comprehensions
 List comprehensions offers a short syntax when you want to create a new list based on value of an existing list
 This help us to write cleaner,more readable code compared to tradition looping techniques

##### Advantages of comprehension
concise : Reduces multiple lines of code into single line
Readable : Easier to understand compared to traditional loops for simple operations
Efficient : Faster than eqivalent to for loops due to optimized implementation

In [18]:
## Create a list of squares
l = [1,2,3,4,7,8,9]
a = []
for i in l:
    a.append(i*i)
a

[1, 4, 9, 16, 49, 64, 81]

In [19]:
[i*i for i in l]

[1, 4, 9, 16, 49, 64, 81]

In [21]:
## filter even numbers
a = [1,2,3,4,7,8,9]
l = []
for i in a:
    if i%2==0:
        l.append(i)
l

[2, 4, 8]

In [25]:
[i for i in a if i%2==0]

[2, 4, 8]

In [26]:
a = ['hello','world']
l = []
for i in a:
    l.append(i.upper())
l

['HELLO', 'WORLD']

In [29]:
[i.upper() for i in a]

['HELLO', 'WORLD']

##### Tuple
Tuples are used to store multiple items in a single variable
Tuples is one of 4 built in data types in python used to store collection of data,the other are 3 are list,and dictionary,all with different
qualities and usages
A tuple is a collection which is ordered and unchangable
Tuples are written with round brackets
### Key feature
Tuples items are ordered,unchangeable and allow duplicate values
Tuple items are indexed,the first item has index[0], the second item has index[1] etc
### Ordered
When we say that tuples are ordered,it means that the items have a defined orders and that order will not change 
### Unchangeable
Tuples are unchageable,that we cannot change,add or remove items after the tuples has been created
### Allow duplicates
since tuples are indexed, they can have  items with the same values
#### Why use tuples
immutability: Ensure that the data remains unchanged,ideal for constant
fast access : tuples are faster than index due to thier immutability
Tuple are a valuable tool for grouping related data while maintaining integrity and improving performance

In [1]:
a = ('apple','orange','banana','cherry','apple')
a[0]

'apple'

In [2]:
## create tuple
a = ()
type(a)

tuple

In [3]:
a =[]
type(a)

list

In [7]:
### access tuples -- indexing 
# starts - 0
# ends - -1
a = (55,'abc',10.6)
a[0]
a[-1]

10.6

In [5]:
type(a)

tuple

In [ ]:
### unchangable and immutable
a = (55,'abc',10.6)

In [10]:
### since tuples are immutable, they don't have a built-in append method,
## but there are way to add items to tuples.
# 1. convert into a list
# 2. add tuple to a tuple
a = (55,'abc',10.6)
a = list(a)
a.append(10)
tuple(a)

(55, 'abc', 10.6, 10)

In [ ]:
# we can't remove from tuple

In [ ]:
# we can delete from tuple

In [11]:
# count
a = (1,2,3,5,7,9)
a.count(5)

1

In [ ]:
# index
a = (1,2,3,5,6,7,9)

###### Set
sets are used to store multiple items in single variables
Set is one of 4 built in data type in python used to store collections of data, the other 3 are List,Tuple and dictionary all with different qualities and usage
A set is a collection which is unordered,unchangeable  and unindexed
###### Key Features
##### Unordered
Unordered means that the items in a set do not have a defined order
Set items can appear in different order every time you use them, and cannot be referred to by index or key
##### Unchangeable
Set items are unchageable meaning that we cannot change the items after the set has been created
Once a set is created,you cannot change the items,but you can remove items and add new add items 
###### Duplicates not allowed
Sets cannot have two items with the same values

In [12]:
thisset = {"apple","banana","cherry"}
thisset

['apple', 'banana', 'cherry']

In [14]:
### Create sets 
a = set()
type(a)
b = {1,3,4,5,7,9}
type(b)

set

In [15]:
### Access Items
## you cannot access items in a set by referral to an index or a key
## BT we can loop
b = {1,3,4,5,7,9}
for i in b:
    print(i)

1
3
4
5
7
9

In [16]:
### Add items
# once a set is created, you cannot change the items,but you can add new items
b = {1,2,3,4,6,7,9}
# Add
b.add(5)
b

{1, 2, 3, 4, 5, 6, 7, 9}

In [17]:
## Update
b = {1,2,3,4,6,7,9,'a'}
a = {'b','c'}
b.update(a)
b

{1, 2, 3, 4, 6, 7, 9, 'a', 'b', 'c'}

In [18]:
## Remove
b = {1,2,3,4,6,7,9,'a'}
b.remove(4)
b

{1, 2, 3, 6, 7, 9, 'a'}

In [19]:
## discard
b = {1,2,3,4,6,7,9,'a'}
b.discard(4)
b

{1, 2, 3, 6, 7, 9, 'a'}

In [24]:
### pop
# note : sets are unordered,so when using the pop() method, you don't know which item that gets removed
b = {1,2,3,4,6,7,9,'a'}
b.pop()
b

{2, 3, 4, 6, 7, 9, 'a'}

In [26]:
### clear
# the clear() method empties the set:
a.clear()
a

set()

In [ ]:
## del

In [27]:
### Union
set1 = {"a","b","c","d"}
set2 = {1,2,3,4}
set3 = set1.union(set2)
print(set3)

{'d', 1, 2, 3, 4, 'c', 'a', 'b'}

In [ ]:
#### Dictionary

In [1]:
def wish(name):
    print("hello",name,"good morning")
    
#wish("pawan")
wish("ramu")

hello ramu good morning

##### Return Statement
function can takes input values as a parameters and executes business logic and returns output as return statement

In [3]:
def add(x,y):
    return x+y
add(10,20)

30

In [5]:
def even_odd(num):
    if num%2==0:
        #print("the given number is Even")
        print("{} number is Even..".format(num))
    else:
        print("the given number is odd")
even_odd(10.5)

the given number is odd

In [6]:
def fact(num):
    result=1
    while num>=1:
        result = result*num
        num = num-1
    return result

fact(5)

120

#### In Python a function can return multiple values

In [7]:
def sum_sub(x,y):
    sum=x+y
    sub=x-y
    return sum,sub

sum_sub(20,10)

(30, 10)

In [3]:
def wish(name,age):
    print("my name is:",name,"age is:",age)
wish(age=26,name="pawan")

my name is: pawan age is: 26

In [8]:
def wish(name,msg):
    print("Hello",name,msg)
wish(name="anu",msg="how are you")

Hello anu how are you

In [10]:
def wish(name="guest"):
    print("hello",name,"welcome to bhrundhavan")


wish()

hello guest welcome to bhrundhavan

In [16]:
bank = "SBI"
ifsc = "SBIN00005366"
place = "Bhimavaram"
pincode = 534202

def customer1(credit):
    bal = 10000
    total = bal+credit
    
    global branch
    branch = "ADB"
    
    pincode = 534201
    
    print("total amount in account : ",total)
    print(place)
    print(ifsc)
    print("customer pincode : ",pincode)
    print("Bank pincode : ",globals()['pincode'])
    
def customer2(creidte):
    print(total)
    print(branch)

In [18]:
customer1(20000)

total amount in account :  30000
Bhimavaram
SBIN00005366
customer pincode :  534201
Bank pincode :  534202

#### 3.Recursive Functions
A function that calls itself is called recursive function
Advantages:
we can reduce length of the code and improves readability
we can solve complex problems very easily

In [19]:
# without recursive
def fact(num):
    result=1
    while num>=1:
        result = result*num
        num=num-1
    return result
fact(5)

120

In [20]:
# with recursive
#factorial(3) = 3*factorial(2) = 3*2*factorial(1)
def factorial(n):
    if n==0:
        result=1
    else:
        result = n*factorial(n-1)
    return result
factorial(5)

120

In [ ]:
when we want to a iterate a sequence of values

In [ ]:
list, set, tuple, dict

In [21]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [25]:
i=0 
while i<= 5:
    print(i)
    i+=1

0
1
2
3
4
5

In [44]:
x = complex(input("Enter the value:"))
print(type(x))

Enter the value: 10+2j

<class 'complex'>